@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css");
html, body {
  height: 100%;
  background-color: #f5f5f5;
  background-image: url("./above-aeroplane-aircraft-engine-91217.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black; }

.container {
  height: 100%; }

p {
  color: red; }

h4 {
  color: #fff; }

.form-box {
  background-color: rgba(173, 171, 171, 0.479); }
